[run]
source = app
omit =
    app/__pycache__/*
    app/alembic/*
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__
    raise NotImplementedError
    pass
    except ImportError
show_missing = true
precision = 1
fail_under = 60

[html]
directory = htmlcov
